body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.8rem;
}

#navbar {
  padding: 45px;
}

#nav-links {
  font-size: 23px;
}

#download-cv {
  font-size: 19px;
}

#about-text{
  font-size: 18px;
}


#line2.cursor::after {
  content: '|';
  position: absolute;
  right: -10px;
  animation: blink 1s steps(1) infinite;
  color: #fbbf24; /* amber-400 */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}